.container {
    text-align: right;
    width: 100%;
    padding-right: 5%;
    height: 36px;
}

.toggle_switch {
    position: relative;
    width: 75px;
    display: inline-block;
    text-align: left;
}

.checkbox {
    display: none;
}

.label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
}

.inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.inner:before,
.inner:after {
    float: left;
    width: 50%;
    height: 36px;
    padding: 0;
    line-height: 36px;
    color: #fff;
    font-weight: bold;
    box-sizing: border-box;
}

.inner:before {
    content: "°F";
    padding-right: 20px;
    background-color: #bbb;
    color: #fff;
    text-align: center;
}

.inner:after {
    content: "°C";
    padding-left: 40px;
    background-color: #363030;
    color: #fff;
}

.switch {
    display: block;
    width: 24px;
    margin: 5px;
    background: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 40px;
    border: 0 solid #bbb;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}


.checkbox:checked+.label .inner {
    margin-left: 0;
}

.checkbox:checked+.label .switch {
    right: 0px;
}

@media screen and (max-width: 768px) {
    .container {
        display: block;

    }

    .inner:after {
        padding-left: 8px;
        background-color: #363030;
    }

    .inner:before {
        padding-right: 5px;
        color: black;
        background-color: #eceaea;
    }

    .toggle_switch {
        width: 36px;
        top: 0;
    }

    .switch {
        display: none;
    }
}